    
    <!--Webbsidans huvudheader med huvudrubrik och navigation-->
    <header>
        <h1>CV</h1>
        <nav>
            <li><a href="/">CV</a></li>
            <li><a href="/about">Om</a></li>
            <li><a href="/add">Lägg till</a></li>
        </nav>
    </header>