
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #222020;
    background-color: rgb(245, 236, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    gap: 3rem;
}

nav li{
    list-style: none;
}

nav a {
    text-decoration: none;
}

.errormessage{
    color: rgb(211, 40, 10);
    font-size: 1.1rem;
    font-weight: 600;
}